# Your Secret Looqz API Key
LOOQZ_API_KEY=YOUR_API_KEY_HERE

# The API Endpoint for Image Generation
LOOQZ_API_ENDPOINT=https://looqz.in/api/v1/public/generate-image

# Port for the Local Server
PORT=8000

# When testing locally with ngrok, set this to your ngrok forwarding URL
# For example: PUBLIC_URL=https://1ab2-3c4.ngrok-free.app
# If empty, the server will default to req.protocol + req.get('host') (http://localhost:8000)
PUBLIC_URL=
