# Your Secret Looqz API Key
LOOQZ_API_KEY=your_api_key_here

# The API Endpoint for Image Generation
LOOQZ_API_ENDPOINT=https://looqz.in/api/v1/public/generate-image

# The exact Domain URL you whitelisted when creating this API key
LOOQZ_API_DOMAIN=https://looqz.in

# Port (Render sets this automatically)
PORT=8000
